.canvas {
  width: 100%;
  height: 400%;
}

ul {
  list-style: none;
  padding: 1em;
  max-width: 600px;
  margin: 0 auto;
}

li {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

li input {
  text-align: center;
  width: 40%;
}

.input_container {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input_container .fas {
  align-self: center;
}

.color_preview {
  border: 1px solid grey;
  border-radius: 2px;
  width: 25%;
}

.plus_container {
  width: 100%;
  text-align: center;
  padding: 1em 0;
}

.plus_container .fas {
  padding: 0.25em;
  border: 2px solid black;
  border-radius: 100%;
}
